@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
  --main-dark: #121212;
  --main-light-purple: #C595FF;

  --fs-big: 8em;
  --fs-small: 5em;
}

html, body {
  margin: 0;
}

.main-wrapper{
  background-color: var(--main-dark);
  font-family: 'Unbounded', sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

.header-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-transform:uppercase;
}

.cursor {
  width: 200px;
  height: 200px;
  position: fixed;
  border-radius: 50%;
  background-color: #C595FF;

}

.header-container :nth-child(1){
  display: flex;
  color: var(--main-light-purple);
  margin: 0;
  font-size: var(--fs-small);
}

.header-container :nth-child(2){
  display: flex;
  margin: 20px 0;
  font-size: var(--fs-big);
  color: #ffffff;
}

.header-container :nth-child(3) {
  display: flex;
  color: var(--main-light-purple);
  margin: 0;
  justify-content: end;
  font-size: var(--fs-small);
}


@media (max-width: 100em) {
  :root {
    --fs-big: 7em;
    --fs-small: 5em;
  }
}

@media (max-width: 40em) {
  :root {
    --fs-big: 5em;
    --fs-small: 3em;
  }
}

@media (max-width: 30em) {
  :root {
    --fs-big: 4em;
    --fs-small: 2em;
  }
}