@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  cursor: none;
}

:root {
  --main-dark: #121212;
  --main-light-purple: #C595FF;

  --fs-big: 8em;
  --fs-small: 5em;
}

html, body {
  margin: 0;
  width: 100vw;
  font-family: 'Unbounded', sans-serif;
  background-color: var(--main-dark);

}

.main-wrapper {
  width: 100vw;
  height: 100vh;
}

.primary-wrapper {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.secondary-wrapper{
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #C595FF;
  --mask: radial-gradient(
    circle at var(--x, 50%) var(--y, 50%),
    black var(--maskSize1, 0%),
    transparent 0,
    transparent 0
  );
  mask-image: var(--mask);
  -webkit-mask-image: var(--mask);
}

.header-container {
  position: absolute;
}

.header-container-secondary{
  
}

.cursor {
  z-index: 99;
  width: 40px;
  height: 40px;
  position: fixed;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid grey;
  pointer-events: none;
  overflow: hidden;
  transform: translate(-50%, -50%);
  mix-blend-mode: luminosity;
}

.header-container :nth-child(1){
  display: flex;
  color: var(--main-light-purple);
  margin: 0;
  font-size: var(--fs-small);
}

.header-container :nth-child(2){
  display: flex;
  margin: 20px 0;
  font-size: var(--fs-big);
  color: #ffffff;
}

.header-container :nth-child(3) {
  display: flex;
  color: var(--main-light-purple);
  margin: 0;
  justify-content: end;
  font-size: var(--fs-small);
}

.header-container-secondary  :nth-child(1){
  display: flex;
  color: white;
  margin: 0;
  font-size: var(--fs-small);
}

.header-container-secondary :nth-child(2){
  display: flex;
  margin: 20px 0;
  font-size: var(--fs-big);
  color: var(--main-dark);
}

.header-container-secondary :nth-child(3) {
  display: flex;
  color: white;
  margin: 0;
  justify-content: end;
  font-size: var(--fs-small);
}


@media (max-width: 100em) {
  :root {
    --fs-big: 7em;
    --fs-small: 5em;
  }
}

@media (max-width: 40em) {
  :root {
    --fs-big: 5em;
    --fs-small: 3em;
  }
}

@media (max-width: 30em) {
  :root {
    --fs-big: 4em;
    --fs-small: 2em;
  }
}